@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap");
$bg: #000;
$text: #fdfdfc;
$paragraph: #c7c7c7;

ul,
li,
ol {
  list-style: none;
  gap: 1rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: $bg;
  color: $text;
}
/*bespoke styling*/
.stat {
  max-width: 150px;
  gap: 0.25rem;
}
.logo {
  border: 2px solid $text;
  border-radius: 50rem;
  min-height: 46px;
  font-size: 20px !important;
  min-width: 46px;
}
.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  z-index: 10;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-weight: 600;
  color: $text;
  max-width: max-content;
  &_title {
    max-width: max-content;
    background: $bg;
    line-height: 172px;
    font-size: 182px;
    letter-spacing: -10px;
    font-weight: 700;
    color: $paragraph;
    padding-right: 2rem;
  }
  &_sub {
    max-width: max-content;
    font-size: 22px;
    letter-spacing: 0.3px;
    color: $text;
    font-weight: 600;
  }
  &_paragraph {
    max-width: max-content;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: $paragraph;
    font-weight: 300;
  }
}
.btn {
  outline: 0;
  border: 0;
  background: transparent;
  color: $text;
  font-family: inherit;
}

/* enterprise styling */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
  &-col {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
  &-even {
    justify-content: space-evenly;
  }
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
    &_all {
      align-items: center;
    }
  }
  &-end {
    justify-items: flex-end;
    &_all {
      align-items: flex-end;
    }
  }
  &-start {
    justify-items: flex-start;
    &_all {
      align-items: flex-start;
    }
  }
}

.grid {
  display: grid;
  &-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.col {
  &-span-3 {
    grid-column: span 3 / span 3;
  }
}

.wrap {
  max-width: 1750px;
  width: 100%;
  margin: 2rem auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  min-height: 700px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.auto {
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  margin: auto;
}

.screen {
  width: 100%;
  max-width: 100%;
  &-sm {
    max-width: 440px;
  }
  &-md {
    max-width: 660px;
  }
  &-lg {
    max-width: 1100px;
  }
}
.block {
  display: block;
}
