@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600&display=swap");
$bg: #000;
$text: #fdfdfc;
$paragraph: #c7c7c7;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: $bg;
  color: $text;
}
.text {
  z-index: 10;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-weight: 600;
  color: $text;
  max-width: max-content;
  &_title {
    // background: pink;
    max-width: max-content;
    background: $bg;
    line-height: 172px;
    font-size: 182px;
    letter-spacing: -10px;
    font-weight: 700;
    color: $paragraph;
    padding-right: 2rem;
  }
}
.btn {
  outline: 0;
  border: 0;
  background: transparent;
  color: $text;
  font-family: inherit;
}

/* enterprise styling */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.flex {
  display: flex;
  &-col {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
  &-even {
    justify-content: space-evenly;
  }
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
    &_all {
      align-items: center;
    }
  }
  &-end {
    justify-items: flex-end;
    &_all {
      align-items: flex-end;
    }
  }
  &-start {
    justify-items: flex-start;
    &_all {
      align-items: flex-start;
    }
  }
}

.wrap {
  max-width: 1750px;
  width: 100%;
  margin: 2rem auto;
  gap: 5rem;
  display: flex;
  flex-direction: column;
}

.title {
  min-height: 700px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.auto {
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  margin: auto;
}
